/* reset styles */
* {box-sizing: border-box;}
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
} /* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
  font-size: 16px;
  font-family: Verdana, sans-serif;
  color: aliceblue;
  background-color: black;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
/* Main styles */
.wrapper {
}
/* header */
.header {
  padding-top: 20px;
}
.nav {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 5vh;
  background-color: rgba(0, 0, 0, 0.6);
}
.nav-list {
  display: flex;
  flex-wrap: nowrap;
  width: 100%;
  height: 100%;
}
.nav-list__item {
  flex: 0 0 25%;
}
.nav-list__item a {
  color: rgba(255, 255, 255, 0.562);
  text-decoration: none;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  text-transform: uppercase;
  font-size: 12px;
}
.nav-list__item a:hover,
.nav-list__item a.active {
  background-color: white;
  color: black;
}
.header__fname {
  font-size: 50px;
  text-align: center;
  line-height: 1.7;
}
.header__occupation {
  text-align: center;
  margin: 20px 0;
}
.header__main-image {
  text-align: center;
}
.header__main-image img {
  max-width: 100%;
  height: auto;
  box-shadow: 0 0 50px white;
}
/* about-section */
.about-section {
  padding-top: 30px;
}

.about-section__fname {
  text-align: left;
  font-size: 26px;
  width: 75%;
  border-bottom: 2px solid white;
  margin-bottom: 20px;
}
.about-section__main-part > * {
  margin-bottom: 20px;
  padding: 0 20px;
}
.about-section__chronology {
  text-transform: uppercase;
  cursor: pointer;
  border-radius: 50px;
  width: 300px;
  padding-top: 10px;
  padding-bottom: 10px;
  border: 1px solid antiquewhite;
}
.about-section__chronology:after {
  content: "\27B8";
  display: inline-block;
  margin-left: 3px;
  transition: 0.3s;
}
.about-section__chronology.visible:after {
  transform: rotate(45deg);
}
.about-section__chronology:hover {
  background-color: antiquewhite;
  color: black;
  padding-left: 15px;
}
.about-section__chronology:hover::after {
  margin-left: 5px;
}
.about-section__chronology-list {
  display: none;
  list-style-type: circle;
  font-size: 13px;
}
.about-section__chronology-list li {
  line-height: 2;
}
.about-section__text {
  line-height: 1.5;
  color: gray;
}
.about-section-skills-list__item {
  color: gray;
  letter-spacing: 5px;
}
.about-section-skills-list > h3 {
  margin: 40px 0;
  font-size: 20px;
}
.about-section-skills-list__item {
  margin-bottom: 25px;
}
.about-section-skills-list__title {
  margin-bottom: 15px;
}
.about-section-skills-list__level {
  width: 100%;
  height: 20px;
  background-color: whitesmoke;
}
.about-section-skills-list__level div {
  height: 100%;
  color: azure;
  background-color: rgb(138, 138, 138);
  text-align: center;
}